*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #609ea1;
    /*color: white;*/
    overflow-x: hidden;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-collapse: collapse;
    position: relative;
     
}
td{
    border: 3px solid #deb887;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80px;
    font-family:sans-serif;
    text-shadow: 2px 2px gray;
    cursor: default;
    position: relative;
}
hr{
    transform: rotate(45deg);
    color: black;
    margin: 20px -20px 20px;
    border: 10px solid black;
    border-radius: 5px;
}
.row{
    text-align: center;
}
.reset:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px gray;
    cursor: default;
}




